/* Estilos aplicados para crear el menu horizontal en CSS */

#index{
    background-color: silver;
    padding: 2rem;
    text-align: center;
    margin: 0%;
    width: 100%;
    height: auto;
    font-size: 5vmin;
    color: white;

}

header{
    width: 100%;
    background-color: cadetblue;
    position: sticky;
    top: 0;
}

main{
    position: sticky
    top 0;
}

#btn menu{
    display: none;
}

header label{
    display: none;
    width: 2rem;
    height: 2rem;
    padding: 10px;
    border-right: 1px border white;
}

header label:hover{
    cursor: pointer;
}

#menu ul{
    margin: 0;
    list-style: none;
    padding: 0%;
    display: flex;
    background-color: cadetblue;
}
#menu li{
    flex-grow: 1;
    text-align: center;
    border: 1px solid white;

}

#menu li a{
    text-decoration: none;
    display: block;
    padding: 1rem 1.5 rem;
    color: white;
}
#menu ul li:hover{
    background-color: black;
}

#menu ul li:active{
    background-color: rgb (0, 0, 5);
}

/*Aplicar estilos con mediaquery para que el menu se oculte y sea desplegado*/

@media screen and (max-width: 768px) {
    head label{
        display: block;
    }
    #menu{
        position: absolute;
        background-color: cadetblue;
        width: 20%;
        margin-left: -20%;
        transition: 0.5s;
    }
    #menu li{
        text-align: left;
        border: 1px solid white;

    }
    #menu ul{
        flex-direction: column;
    }

    #btn-menu:checked~#menu{
        margin: left 0%;
    }
    main p{
        margin: 2rem;
    }
    *main{
        padding: 20px;
    }
    

}
