*{
    margin: 0;
    padding: 1;
}

body{
    background-image: url(https://th.bing.com/th/id/OIP.WaeLR2ad1ZD7lHF_AOIBzwAAAA?rs=1&pid=ImgDetMain);
    font-family: Arial, Helvetica, sans-serif;
    
    background-size: cover;
}

#contenedor{
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;

}

h2{
    padding-top: 4vw;
    padding-bottom: 4vw;
    color: wheat;
    font-size: 4vw;
    text-align: center;
    background-color: purple;
    font-style: italic;
    font-weight: normal;
}

form{
    text-align: center;
    color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

label{
    font-size: 2vw;

}

.caja1 #tipo {
    font-size: 1.5vw;
    font-weight: bold;
    width: auto;
    color: black;
}

hr{
    color: white;
}

#btn{
    margin-bottom: 1vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: aqua;
    font-size: 2vw;
    color: black;
    font-weight: bold;
    
}

#btn.hover{
    background-color: whitesmoke;
}

#btn.hover{
    background-color: red;
    color: green;
}


